/* Постоянные клиенты */
.clients__content {
  @media screen and (max-width: 1199px) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.clients {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.clients__title {
  display: block;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: $title-text-color;
  letter-spacing: $main-letter-spacing;
}
.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  @media screen and (min-width: 480px) and (max-width: 1199px) {
    justify-content: space-between;
  }
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}
.clients__link {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: 1px solid $social-link;
  border-radius: 4px;
  color: $social-link;
  fill: currentColor;
  transition: color 250ms $animation, border 250ms $animation;
  &:hover,
  &:focus {
    border: 1px solid $accent-color;
    color: $accent-color;
  }
  @media screen and (max-width: 767px) {
    width: 210px;
    padding: 16px 52px;
  }
  @media screen and (max-width: 1199px) {
    max-width: 226px;
    padding: 16px 60px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 170px;
    padding: 16px 32px;
  }
}
.clients__item {
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 480px) and (max-width: 767px) {
    &:nth-child(2n + 1) {
      margin-right: 30px;
    }
  }

  @media screen and (max-width: 1199px) {
    &:nth-child(-n + 3) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
